@model PageNatedList<Category>
@{
    int no = (Model.Page-1)* Model.ItemCount;
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Image</th>
            <th>Name</th>
            <th>Status</th>
            <th>Category Type</th>
            <th>Setting</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in Model)
        {
            no++;
        <tr>
            <td>@no</td>
            <td>@category.Image</td>
            <td>@category.Name</td>
            <td style="color:@(category.IsDeleted ? "red":"green")">@(category.IsDeleted ? "Deleted":"Active")</td>
            <td style="color:@(category.IsMain ? "blue":"orange")">@(category.IsMain ? "Main":"Sub")</td>
            <td>
                <a asp-area="manage" asp-controller="category" asp-action="update" asp-route-id="@category.Id" class="btn btn-warning">Update</a>
                @if (category.IsDeleted)
                {
                    <a asp-area="manage" asp-controller="category" asp-action="restore" asp-route-id="@category.Id" asp-route-status="@ViewBag.Status" class="btn btn-info restoreBtn">Restore</a>

                }
                else
                {
                    <a asp-area="manage" asp-controller="category" asp-action="delete" asp-route-id="@category.Id" asp-route-status="@ViewBag.Status" class="btn btn-danger deleteBtn">Delete</a>

                }

            </td>
        </tr>

            
        }
    </tbody>
</table>
